/*logo style*/
.App-logo {
}

/*hearder style*/
.App-header {
  color: red;
  display: flex;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
}

/*body style*/
.App-body{
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  height:100vh;
}

/*footer style*/
.App-footer{
  text-align: center;
}
